/************************** tour_info **************************/ 
.tour_info .inner{
    padding: 100px 0;
    position: relative;
}
.tour_info #p_logo{
    position: absolute;
    top: -55px; left: 820px;
}
.tour_info p img{
    width: 280px;
}
.tour_info .inner span{
    font-family: 'Tenada', sans-serif;
    font-size: 1.8rem;    
}
.tour_info .inner h2{
    display: block; 
    text-align: center;
    margin-bottom: 50px;
}
.tour_info .inner .ways{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.tour_info .inner a{
    width: 350px; height: 350px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    border: #004f9e 1px solid;
    border-radius: 175px;    
    font-weight: 700;
    color: #fff;
    position: relative;    
}
.tour_info .inner a .tour_pic{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
.tour_info .inner a .info_detail{
    padding-top: 130px;
    font-size: 1.2rem;
}
.tour_info .inner a .info_title{
    font-size: 1.8rem;
}
.tour_info .ways a > div{
    width: 100%;
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
}
.tour_info .ways a > div >p{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
}
.tour_info .inner .ways #ways_img01:hover{
    transform: translate(0%,-5%);
    box-shadow: 3px 3px 5px #555;
    border: solid 8px #004f9e;
    transition: 0.3s;
}
.tour_info .inner .ways #ways_img01:hover #tour_pic1{
    filter: opacity(0);
    transition: 0.3s;
}
.tour_info .inner .ways #ways_img01:hover .tour_p1{
    color: #004f9e;
    font-weight: 700;
    transition: 0.5s;
}
.tour_info .inner .ways #ways_img02:hover{
    transform: translate(0%,-5%);
    box-shadow: 3px 3px 5px #555;
    border: solid 8px #004f9e;
    transition: 0.3s;
}
.tour_info .inner .ways #ways_img02:hover #tour_pic2{
    filter: opacity(0);
    transition: 0.3s;
}
.tour_info .inner .ways #ways_img02:hover .tour_p2{
    color: #004f9e;
    font-weight: 700;
    transition: 0.5s;
}
.tour_info .inner .ways #ways_img03:hover{
    transform: translate(0%,-5%);
    box-shadow: 3px 3px 5px #555;
    border: solid 8px #004f9e;
    transition: 0.2s;
}
.tour_info .inner .ways #ways_img03:hover #tour_pic3{
    filter: opacity(0);
    transition: 0.3s;
}
.tour_info .inner .ways #ways_img03:hover .tour_p3{
    color: #004f9e;
    font-weight: 700;
    transition: .5s;
}

/*.tour_info .inner #ways_img01{
    background-image: url(../images/street\ pic.png);
    background-position: center;
}
.tour_info .inner #ways_img02{
    background-image: url(../images/food\ pic.png);
    background-position: center;
}
.tour_info .inner #ways_img03{
    background-image: url(../images/bus\ pic.png);
    background-position: center;
}*/