/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/**************메인 슬라이드**************/
.main_slide .slick-arrow {
    position: absolute;
    top: 50%; left: 0;
    z-index: 15;
    font-size: 0;
}
.main_slide .slick-arrow::after{

    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}
.main_slide .slick-prev{
    transform: rotate(135deg) translate(-50px,0);
}
.main_slide .slick-next{
    left: auto;
    right: 0;
    z-index: 10;
    transform: rotate(-45deg)  translate(0px,-40px);
}

.main_slide .slick-dots{
    position: absolute;
    bottom: 20%;
    right: 10%;
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main_slide .slick-dots li  button{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: #fff;
    font-size: 0;  
}
.main_slide .slick-dots  .slick-active button{
    background-color: #D9D9D9;
    width: 40px;
}

