@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); 
@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MapoBackpacking';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoBackpackingA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
ul,ol,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.inner{
    max-width: 1200px;  /* 반응형 너비 지정 기본 */
    margin: 0 auto;
}
/************************** header **************************/ 
header{
    background-color: rgba(255, 255, 255, .3);
    width: 100%;    
    height: 90px;
    z-index: 999;
}
        .smallbar {
            height: 90px;
            background-color: #fff;
        }
        .smallbar .menu a.active {
            font-weight: bold;
        } /* .samll bar는 scrollfix js와 연결*/

header .inner{
    height: 90px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;   
}
header h1{
    width: 20%;
}
header h1 img{
    position: relative;
    width: 45%;  
    padding-top: 20px;           
}          
header .inner #gnb-box{
    width: 60%;
    height: 90px;          
}
header .inner #gnb-box > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
}
header .inner #gnb-box > ul > li{
    width: 33.33%;
    text-align: center;
    padding-top: 30px;
}
header .inner #gnb-box > ul > li > a{
    font-size: 1.2rem;
}
header .inner .nav_btn{
    width: 20%;
}
header .inner .nav_btn #btn1{
    float: right;
    padding: 5px 10px;
    border-radius: 25px;
    border: #999 solid .5px;
    background-color: rgba(255, 255, 255, .3);
    margin-right: 20px;
}
header .inner .nav_btn #btn2{
    float: right;   
    margin-top: 5px;
}
/************************** header_menu drop **************************/ 
#gnb-box > ul > li > ul {
    margin-left: 83px;
    width: 100%; 
    display: none;
    height: 200px;
    opacity: 0;
    position: relative; 
    top: 50px;  
    z-index: 995;
    text-align: left;
    color: #004f9e;
}
#gnb-box > ul:hover > li > ul{
    display: block; 
    opacity: 1;
}
#gnb-box > ul > li > ul > li{
    padding: 6px 0;
}
#gnb-box > ul > li > a{
    width: 100%; padding: 8px 10px;
}
header:hover{
    background-color: #fff;
    opacity: 1;
}
#gnb-box li a:hover{
    color: #f29100;
}
#gnb-box > ul::before{
    content: "";
    position: absolute;
    left: 0;
    top: 90px;
    height: 200px;
    border-bottom: solid 3px #f29100;
    background-color: #FFF; 
    opacity: 1;
    width: 100%;
    z-index: 20;
    display: none;
}
#gnb-box > ul:hover::before{
    display: block;
    transition: 1s;
}

/************************** main_slide **************************/ 
/**** commnon.css와 연결되어 있음 ****/ 
.main_slide{
    height: 840px;   width: 1920px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.main_slide .main_tit_box{
    width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main_slide .main_tit_box p{
    color: #FFF;
    text-align: center;
    padding: 5px 0;
    font-size: 1.8rem;
}
.main_slide .main_tit_box #title_discript{
    font-size: 3.0rem;
    
    font-family: 'MapoBackpacking', sans-serif;
    margin-bottom: 5px;
}
.main_slide .main_tit_box #title_name{
    font-size: 4rem;
}
.main_slide .main_tit_box > span{
    font-family: 'Tenada', sans-serif;
}
/************************** mid_icon_nav **************************/ 
.icon_nav{
    background-color: #e1edfa;
}
.icon_nav .inner{
    width: 1110px;
    padding: 25px 0;
    position: relative;
}
.icon_nav .inner > img:nth-child(1){
    display: inline-block;
    width: 60px;
    position: absolute;
    top: 20px; left: 80px;
}
.icon_nav .inner > img:nth-child(2){
    display: inline-block;
    width: 80px;
    position: absolute;
    top: 70px; left: 900px;    
}
.icon_nav .inner ul{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;    
}
.icon_nav ul li{
    width: 80px;    
    text-align: center;
    font-weight: 500;
    z-index: 91;
}
.icon_nav ul li .icon_img{
    width: 80px;
    padding: 0; margin: 0;
}
.icon_nav ul li a:hover{
    color: #f29100;
    font-weight: 700;
}

/************************** video_sect **************************/ 
.video_sect .inner{
    position: relative;
    padding: 80px 0;
}
.video_sect .inner img, .video_sect .inner .inner_2 p{
    display: inline-block;
}
.video_sect .inner img:nth-child(1){
    width: 200px;
    position: absolute;
    top: 160px; left: 330px;
}
.video_sect .inner img:nth-child(2){
    width: 80px;
    position: absolute;
    top: 150px; left: -120px;
}
.video_sect .inner img:nth-child(3){
    width: 60px;
    position: absolute;
    top: 482px; left: 450px;
}
.video_sect .inner img:nth-child(4){
    width: 80px;
    position: absolute;
    top: 250px; left: 1200px;
}
.video_sect .inner .inner_2{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.video_sect .inner .inner_2 .txt_box{
    display: inline-block;
    width: 37%;
    padding-top: 280px;
    font-size: 1.1rem;
}
.video_sect .inner .inner_2 .txt_box span{
    font-family: 'Tenada', sans-serif;
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.video_sect .inner .inner_2 .txt_box p:nth-child(2){
    font-size: 1.4rem;
    border-bottom: #000 solid 1px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    width: 100%;
}
.video_sect .inner .inner_2 .video_box{
    width:550px; height: 400px; 
}

/************************** activity_sect **************************/ 
.activity_sect{
    height: 1033px;
    background-color: #1b71c7;
    background-image: url(../images/activity_frame.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 40px 100px;

}
.activity_sect .arrow > img{
    width: 15px;
    padding-left: 2px;
    padding-bottom: 15px;
}
.activity_sect .arrow{
    width: 30px; height: 30px;
    padding: 7px 9px 12px 9px;
    border-radius: 45px;
}
.activity_sect .arrow:hover{
    background-color: #ccdcec;
}
.activity_sect .tab_content{
    width: 1200px;
}
.activity_sect .inner{
    position: relative;
}
.activity_sect .inner #title{
    width: 250px;
    color: #004f9e;
    background-color: #fff;
    border-radius: 40px;
    padding: 8px 10px;
    display: block;
    text-align: center;
    font-weight: 600;
    margin: 40px 0 0 475px; 
    font-size: 1.4rem;   
}
.activity_sect .inner span{
    font-family: 'Tenada', sans-serif;
    font-size: 1.8rem;
}
.activity_sect .inner span #title2{
    display: block;
    text-align: center;
    margin: 20px 0;
}
.tab_content > img{
    position: absolute;
    top: 235px;
    left: 43px;
}


.tab_content input[type="radio"]{display: none;}
.tab_content label{
    display: inline-block;
    width: 14%;
    border: 2px solid #fff;
    border-radius: 20px;
    text-align: center;
    padding: 15px 0 16px 0;
    font-size: 1.3rem;
    margin: 0 7px;
}

.tab_content input[type="radio"]:checked + label{
    background-color: #fff;
    color: #004f9e;}

.tab_content .inner_2{
    width: 1110px;
    height: 600px;
    padding-top: 90px;
    margin: 0 auto;
    display: none;
    position: relative;
}
.activity_sect .inner .inner_2 .txt_box{
    width: 500px; height: 550px;
    display: block;
    float: right;  
    padding-top: 280px;  
}
.activity_sect .inner .tab_content > .inner_2 > .txt_box span{
    font-family: 'Tenada', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.activity_sect .inner .tab_content > .inner_2 > .txt_box p{
    font-size: 1.1rem;
}
.activity_sect .inner .tab_content > .inner_2 > .txt_box #eng_txt{
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 20px;
    border-bottom: solid 1px #fff;
    padding-bottom: 5px;
}
.activity_sect .inner .tab_content > .inner_2 > img{
    width: 550px; height: 550px;
    position: absolute;
    top: 60px;
}
.tab_content  input[id="tab_1"]:checked ~ #tab_con1{display: block;}
.tab_content  input[id="tab_2"]:checked ~ #tab_con2{display: block;}
.tab_content  input[id="tab_3"]:checked ~ #tab_con3{display: block;}
.tab_content  input[id="tab_4"]:checked ~ #tab_con4{display: block;}
.tab_content  input[id="tab_5"]:checked ~ #tab_con5{display: block;}
.tab_content  input[id="tab_6"]:checked ~ #tab_con6{display: block;}

/************************** tour_info **************************/ 

.tour_info .inner .ways a .tour_txt .info_title{
    font-family: 'Tenada', sans-serif;
    font-size: 2.3rem;
    padding-top: 10px;
}

/************************** footer **************************/ 
.footer1{
    border-top: solid 1px #bbb;
    border-bottom: solid 1px #bbb;
}
.footer1 .inner{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer1 ul{
    display: flex;
    justify-content: space-between;
    padding: 6px 0 9px 0;
}
.footer1 ul li a{
    padding-right: 15px;
    font-size: .8rem;
}
.footer1 p{
    font-size: .8rem;
    font-weight: 500;
    border-left: solid 1px #bbb;
    border-right: solid 1px #bbb;
    padding: 11px 40px;
}
.footer1 p:hover{
    color: #FFF;
    background-color: #9bbee0;
}
.footer1 p img{
    padding-left: 8px;
    margin-top: 7px;
}
.footer2{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; align-items: center;
    padding: 25px 0;
}
.footer2 h1 img{width: 120px;}
.footer2 ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer2 ul .mini_icon{
    width: 18px;

}
.footer2 ul li{
    width: 140px;
}
.footer2 ul .inner_li1{
    font-size: 1.3rem;
    font-weight: 700;
}
.footer2 ul .inner_li2{font-size: 0.8rem;}
.footer3{
    padding: 8px 0;
    background-color: #ccdcec;
    color: #004f9e;
    text-align: center;
    font-size: .8rem;
}
